@{
    ViewBag.Title = "Instructores";
}

<div class="jumbotron">
    <h1>Instructores</h1>
    <p class="lead">Desde aquí podrá administrar todos los instructores de Capacitarte.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Lista de Opciones</h3>
        @*<ul class="row">
                <li>@Html.ActionLink("Nuevo Instructor", "NewInstructor", "Instructor")</li>
                <li>@Html.ActionLink("Eliminar Instructor", "DropInstructor", "Instructor")</li>
            </ul>*@
        <p><a class="btn btn-default" href='@Url.Action("NewInstructor", "Instructor")'>Nuevo &raquo;</a></p>
        <p><a class="btn btn-default" href='@Url.Action("DropInstructor", "Instructor")'>Eliminar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Lista de Instructores</h3>
        <ul class="row">
            @foreach (var instructor in ViewBag.Instructors)
            {
                <li>@Html.ActionLink((string)instructor.Name, "ModifyInstructor", "Instructor", new { idInstructor = instructor.Id }, null)</li>
            }
        </ul>
    </div>
    @*<div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>