@model IEnumerable<Capacitarte.Models.Usuario>

@{
    ViewBag.Title = "Instructores";
}

<h2>Instructores</h2>

<p>
    @Html.ActionLink("Seleccionar Instructores", "SelectInstructors")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Gerencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Jefatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Convenio)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.Gerencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.Jefatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.Convenio)
            </td>
        </tr>
    }

</table>
