@model IEnumerable<Capacitarte.Models.EventViewModel>

@{
    ViewBag.Title = "Eventos";
}

<div class="jumbotron">
    <h1>Eventos</h1>
    <p class="lead">Desde aquí podrá administrar todos los eventos de Capacitarte.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Lista de Opciones</h3>
        <p><a class="btn btn-default" href='@Url.Action("Create", "Event")'>Nuevo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Lista de Eventos</h3>
        <ul class="row">
            @foreach (var evento in Model)
            {
                //var listItem = @evento.Description + "(" + @evento.StartDate.ToShortDateString() + " - " + @evento.EndDate.ToShortDateString() + ") ";
                var listItem = @evento.ToString() + " ";

                <li>
                    @listItem
                    @Html.ActionLink("Editar", "Edit", "Event", new { idEvent = evento.Id }, null)
                    -
                    @Html.ActionLink("Eliminar", "Delete", "Event", new { idEvent = evento.Id }, null)
                </li>
            }
        </ul>
    </div>
</div>
